    <!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">
    <display-name>Archetype Created Web Application</display-name>

<!--    <servlet>
        <servlet-name>routeur</servlet-name>
        <servlet-class>Routeur</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>routeur</servlet-name>
        <url-pattern>/groupes</url-pattern>
    </servlet-mapping>-->

    
<!--    <filter>
        <filter-name>AuthentificationFilter</filter-name>
        <filter-class>fr.univlyon1.m1if.m1if03.servlets.AuthentificationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthentificationFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatchar>FORWARD</dispatchar>
    </filter-mapping>

    <filter>
        <filter-name>AutorisationFilter</filter-name>
        <filter-class>fr.univlyon1.m1if.m1if03.servlets.AutorisationFilter</filter-class>
    </filter>
     <filter-mapping>
        <filter-name>AutorisationFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatchar>FORWARD</dispatchar>
    </filter-mapping>-->
</web-app>
